<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PriceLow" value="0"/>
		<add key="PriceHight" value="4500"/>
		<add key="Brands" value="New balance/adidas/TIMBERLAND/ASICS/Saucony Originals/Under Armour/Reebok/Nike/PUMA/FILA/Tommy Hilfiger"/>
		<add key="Sizes" value="41,5/42/42,5/43"/>
	</appSettings>
</configuration>